.logo {
  font-family: 'Droid Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 2em;
}

.sub {
  font-family: 'Droid Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1em;
}

.img {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;

  img {
    width: 100%;
  }
}